*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.hero{
    padding: 100px 0;
    background-color: #23424A;
    color: white;
      
}

.container__text{
    width: 50%;
}



.section__green-heading {
    font-size: 1.3rem;
    font-weight: 700;
      
}

.section__green-paragraph {
    font-size: 1rem;
    margin: 10px 0;
    
}

a{
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: #38cfd9;
    border-radius: 100px;
    padding: .5rem 1rem;
}

.section__greenbtn {
    margin-top: 2.5rem;
}